.box {
  border: 2px solid #000;
  width: 50%;
  padding: 20px;
  text-align: center;

  &.win {
    border: 2px solid green;
  }

  &.lose {
    border: 2px solid red;
  }

  &.tie {
    border: 2px solid black;
  }
}

.img-container {
  width: 100%;
  height: 500px;
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.game {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.button-wrap {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
